@model ICollection<SlavojMVC4_1.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <h3>Registrovaná externí přihlášení</h3>
    <table>
        <tbody>
        @foreach (SlavojMVC4_1.Models.ExternalLogin externalLogin in Model)
        {
            <tr>
                <td>@externalLogin.ProviderDisplayName</td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <input type="submit" class="t-button t-state-default" value="Odebrat" title="Odebrat toto pověření @externalLogin.ProviderDisplayName z účtu" />
                            </div>
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
