@model SlavojMVC4_1.Models.LocalPasswordModel
@{
    ViewBag.Title = "Spravovat účet";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Jste přihlášení jako <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    @*<h3>Přidat externí přihlášení</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })*@
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
