@model SlavojMVC4_1.Models.Clanek

@{
    ViewBag.Title = "Smazat";
}

<h2>@ViewBag.Title</h2>

<h3>Jste si jisti, že chcete smazat tento článek?</h3>
<fieldset>
    <legend>Clanek</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Predmet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Predmet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.Raw(Model.Text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatumVytvoreni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatumVytvoreni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatumZmeny)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatumZmeny)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model. KategorieId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KategorieId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="t-button t-state-default" value="Smazat" /> |
        @Html.ActionLink("Zpět na seznam článků", "Index")
    </p>
}
