<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="description" content="Kuželkářský klub Slavoj Žirovnice">

    <title>KK Slavoj Žirovnice-@ViewBag.Title</title>

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.office2010blue.css").Combined(true).Compress(true)))*@
    @*@(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.office2007.css").Combined(true).Compress(true)))*@
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("pk.SlavojZirovnice.css").Combined(true).Compress(true)))

</head>

<body>
    <header>
        <div class="content-wrapper">
            <div class="znak float-left site-title">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Content/images/Znak.KK.Slavoj.Zirovnice.150.gif" alt="Znak" width="150" />
                </a>
            </div>
            <div class="float-left site-title">
                @Html.ActionLink("Kuželkářský klub Slavoj Žirovnice", "Index", "Home")
            </div>
            <div class="pruh float-right site-title">
                <a href="https://plus.google.com/photos/104094761397324041101/albums/6194660409701634001" title="Fotky kuželny">
                    <img class="img-pruh" src="~/Content/images/Pruh2.jpg" alt="Kuzelna"/>
                </a>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
            <div class="site-menu">
                @Html.Partial("_MenuPartial")

            </div>
        </div>

    </header>

    @*        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>*@

    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <div id="contentwrapper">
                <div id="contentcolumn">
                    <div class="innertube">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div id="rightcolumn">
                <div class="innertube">
                    <div class="widgets">
                        @{Html.RenderAction("NejblizsiProgram", "Widget");}
                        @{Html.RenderAction("NejblizsiZapasy", "Widget");}
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - KK Slavoj Žirovnice, autor webu a webmaster Ing. Petr Kejval, petr.kejval@gmail.com</p>

            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/otf")

    @RenderSection("scripts", required: false)
    @(Html.Telerik()
                  .ScriptRegistrar()
                  .Globalization(true)
                          .DefaultGroup(group => group
                              .Combined(true)
                              .Compress(true)
                              )
    )
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57894513-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>

</html>
