@model SlavojMVC4_1.Models.WebPageEditable

<fieldset class="turnaj-fields">
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true)*@

    <div class="clen-osoba">
        <div class="clen-nadpis editor-label">
            Webová stránka
        </div>
        @Html.HiddenFor(model => model.WebPageId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nazev)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nazev)
            @Html.ValidationMessageFor(model => model.Nazev)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HtmlText)
        </div>
        <div class ="editor-htmltext">
            @Html.EditorFor(model => model.HtmlText)
            @Html.ValidationMessageFor(model => model.HtmlText)
        </div>
    </div>

    <div>
        @Html.ValidationMessage(String.Empty)

    </div>


</fieldset>
<style type="text/css">
    .t-grid .input-validation-error {
        border-style: solid;
    }

    .t-input {
        border-color: #e2e2e2;
    }

    .t-calendar {
        color: black;
    }

    .t-content, .t-editable-area {
        background-color: #87B9D6;
    }

    .t-footer {
        background-color: #87B9D6;
    }
    .t-editor
    {
        min-height:600px;
    }
.editor-htmltext
{
    clear:both;
    overflow:visible;
    display:block;
    float:left;
}
</style>
