@model SlavojMVC4_1.Models.Clen

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Clen</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Jmeno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Jmeno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prijmeni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prijmeni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TitulPred)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TitulPred)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TitulZa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TitulZa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JeClen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JeClen)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
