@model SlavojMVC4_1.Models.Clen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Clen</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Jmeno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Jmeno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prijmeni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prijmeni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TitulPred)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TitulPred)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TitulZa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TitulZa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JeClen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JeClen)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ClenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
